<div class="sellers">
	<div>
		<div class="searchlhs">
			<span class="glyphicon glyphicon-search"></span>
			<input type="text" class="searchBox" ng-model="searchBox">
		</div>
		<div class="addButton">
			<a href="" ng-click="onAddSeller()"><span class="textSpan" translate="	sellers.Add"></span>
			<span class="glyphicon glyphicon-plus"></span></a>
		</div>
	</div>
	<table>
		<thead>
			<tr table-sort="name">
				<th>
				</th>
				<th class="name" data-columnName="name">
					<span translate="sellers.Name"></span>
				</th>
				<th class="category" data-columnName="category">
					<span translate="sellers.Category"></span>
				</th>
				<th class="button">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="s in sellers | orderBy:predicate:reverse | filter:searchBox">
				<td class="image"><img src="{{s.imagePath}}" alt="Image" height="50" width="50"></td>
				<td><a class="sellerslistNames" ng-href="#/seller/{{s.id}}">{{s.name}}</a></td>
				<td class="category">{{s.category}}</td>
				<td>
					<a href="" ng-click="onEditSeller(s)" ng-model="selectedUser"><span class="glyphicon glyphicon-pencil"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>