<div>
	<div>
		<a href="#/"><span translate="shared.Back"></span></a>
	</div>
	<div>
		<img src="{{seller.imagePath}}" alt="Image" height="100" width="100">
	</div>
	<div>
		{{seller.name}}
	</div>
	<div>
		{{seller.category}}
	</div>
	<div>
		<ul ng-init="tab = 1">
			<li ng-class="{active:tab===1}">
				<a href ng-click="tab = 1"><span translate="sellersdetails.AllProducts"></span></a>
			</li>
			<li ng-class="{active:tab===2}">
				<a href ng-click="tab = 2"><span translate="sellersdetails.TopTen"></span></a>
			</li>
		</ul>

		<div ng-show="tab===1">
			<div ng-controller="ProductTapController">
				<button class="btn btn-primary" ng-click="onAddProduct()">
					<span translate="sellers.Add"></span>
				</button>
				<ul>
					<li ng-repeat="product in sellerProducts">
						<img src="{{product.imagePath}}" alt="img for id:{{product.id}}" height="100" width="100"> - {{product.name}} - {{product.price}}
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="tab===2">
			<div ng-controller="TopProductTapController">
				<button class="btn btn-primary" ng-click="onAddProduct()">
					<span translate="sellers.Add"></span>
				</button>
				<ul>
					<li ng-repeat="product in sellerProducts">
						<img src="{{product.imagePath}}" alt="img for id:{{product.id}}" height="100" width="100"> - {{product.name}} - {{product.price}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>