<div class="seller-details">
	<div>
		<a href="#/"><span class="backButton glyphicon glyphicon-chevron-left"></span><span translate="shared.Back"></span></a>
	</div>
	<div class="wrapper">
		<div class="lhs">
			<img src="{{seller.imagePath}}" alt="Image" height="170" width="170">
		</div>
		<div class="rhs">
			<div class="name">
				{{seller.name}}
			</div>
			<div class="category">
				{{seller.category}}
			</div>
		</div>
	</div>
	<div class="tabs">
		<ul class="nav nav-tabs" ng-init="tab = 1">
			<li ng-class="{active:tab===1}">
				<a href ng-click="tab = 1"><span translate="sellersdetails.AllProducts"></span></a>
			</li>
			<li ng-class="{active:tab===2}">
				<a href ng-click="tab = 2"><span translate="sellersdetails.TopTen"></span></a>
			</li>
		</ul>

		<div ng-show="tab===1" class="col-sm-8 col-md-12 col-xs-6">
			<div class="tab" ng-controller="ProductTapController">
				<a href="" ng-click="onAddProduct()"><span class="textSpan" translate="sellers.Add"></span><span class="glyphicon glyphicon-plus"></span></a>
				<ul>
					<li ng-repeat="product in sellerProducts">
						<div my-product id="{{product.id}}" name="{{product.name}}" price="{{product.price}}" quantitysold="{{product.quantitySold}}" imagepath="{{product.imagePath}}" quantitypnstock="{{product.quantityInStock}}">
						</div>
						<div class="editButton">
							<a href="" ng-click="onEditProduct(product)" ng-model="selectedUser">
								<span class="textSpanEdit" translate="sellers.Edit">
								</span>
								<span class="glyphicon glyphicon-pencil">	
								</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div ng-show="tab===2" class="col-sm-8 col-md-12 col-xs-6">
			<div class="tab" ng-controller="TopProductTapController">
				<a href="" ng-click="onAddProduct()"><span class="textSpan" translate="sellers.Add"></span><span class="glyphicon glyphicon-plus"></span></a>
				<ul>
					<li ng-repeat="product in sellerProducts">
						<div my-product id="{{product.id}}" name="{{product.name}}" price="{{product.price}}" quantitysold="{{product.quantitySold}}" imagepath="{{product.imagePath}}" quantitypnstock="{{product.quantityInStock}}">
						</div>
						<div class="editButton"><a href="" ng-click="onEditProduct(product)" ng-model="selectedUser"><span class="textSpanEdit" translate="sellers.Edit"></span><span class="glyphicon glyphicon-pencil"></span></a></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>