body {
  background: url("http://eskipaper.com/images/cloud-background-6.jpg") fixed;
  background-size: 100% 100%;
}
body .hometitle {
  color: white;
  text-align: center;
  padding-bottom: 3%;
}
body .translate {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 5px;
  padding-top: 5px;
}
html * {
  color: #000 !important;
}

.product-dlg {
  color: #51cecd;
}
.product-dlg .name,
.product-dlg .category,
.product-dlg .image {
  padding-right: 15%;
}
.product-dlg .wrapper {
  width: 100%;
  margin: 0 auto;
}
.product-dlg .lhs {
  width: 15%;
  float: left;
}
.product-dlg .rhs {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
}
.product-dlg .uti {
  padding-bottom: 5%;
}
.product-dlg input {
  width: 85%;
}

.product {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #51cecd;
}
.product img {
  border-radius: 7%;
}
.product .productName {
  float: left;
  text-align: left;
}
.product .productPrice {
  text-align: right;
}
.product:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.seller-details {
  text-align: center;
}
.seller-details .wrapper {
  padding-top: 2%;
  width: 500px;
  margin: 0 auto;
}
.seller-details .backButton {
  text-align: left;
  padidng-top: 20px;
  padding-left: 20px;
}
.seller-details .lhs {
  width: 30%;
  float: left;
  text-align: left;
}
.seller-details .lhs img {
  border-radius: 7%;
}
.seller-details .rhs {
  width: 100%;
  padding-bottom: 170px;
  text-align: right;
  color: #51cecd;
}
.seller-details .name {
  font-weight: bold;
  font-size: 22px;
}
.seller-details .category {
  font-size: 18px;
}
.seller-details .tabs {
  float: clear;
  margin: 0 auto;
  width: 1000px;
  text-align: left;
}
.seller-details ul {
  margin: 0 auto;
  padding: 0;
}
.seller-details li {
  display: inline-block;
  vertical-align: top;
}
.seller-details .textSpan {
  font-size: 20px;
  padding-right: 1%;
  color: #51cecd;
}
.seller-details .textSpanEdit {
  padding-right: 4%;
}
.seller-details .tab {
  padding-top: 10px;
}
.seller-details .editButton {
  text-align: center;
}
.seller-details a {
  color: #51cecd;
}

.seller-dlg {
  color: #51cecd;
}
.seller-dlg .name,
.seller-dlg .category,
.seller-dlg .image {
  padding-right: 15%;
}
.seller-dlg .wrapper {
  width: 100%;
  margin: 0 auto;
}
.seller-dlg .lhs {
  width: 15%;
  float: left;
}
.seller-dlg .rhs {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
}
.seller-dlg .uti {
  padding-bottom: 5%;
}
.seller-dlg input {
  width: 85%;
}

.sellers {
  text-align: center;
  margin: 0 auto;
  width: 40%;
  color: #51cecd;
}
.sellers .searchlhs {
  float: left;
}
.sellers .searchBox {
  width: 300px;
}
.sellers .addButton {
  text-align: right;
  padding-right: 1.5%;
}
.sellers table {
  color: #51cecd;
  padding-top: 10%;
  width: 100%;
}
.sellers th {
  text-align: left;
}
.sellers tr {
  text-align: left;
}
.sellers tbody > tr:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.sellers .image {
  padding-right: 5%;
  padding-bottom: 3%;
}
.sellers img {
  border-radius: 50%;
}
.sellers .name,
.sellers .category {
  padding-top: 5%;
  padding-bottom: 3%;
}
.sellers .name {
  padding-right: 30%;
}
.sellers .category {
  passing-right: 0%;
}
.sellers .textSpan {
  padding-right: 1%;
  color: #51cecd;
}
.sellers a {
  color: #51cecd;
}
