body {
	background: url("http://eskipaper.com/images/cloud-background-6.jpg") fixed;
	background-size: 100% 100%;

	.titleDIV {
		padding-left: 30.5%;
	}

	.hometitle {
		font-family: 'Brush Script MT';
		text-align: left;
		padding-bottom: 3%;
	}

	.translate {
		position: fixed;
		top: 0;
		right: 0;
		padding-right: 5px;
		padding-top: 5px;
	}
}

html *
{
   color: #000 !important;
}