.product {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: rgb(81, 206, 205);

	img {
		border-radius: 7%;
	}

	.productName {
		float: left;
		text-align: left;
	}

	.productPrice {
		text-align: right;
	}
}

.product:hover {
	transform: scale(1.1);
}
