<div class="seller-dlg">
	<div class="modal-header">
		<h3 class="modal-title"><span translate="sellers.Add"></span> / <span translate="sellers.Edit"></span></h3>
	</div>

	<div class="modal-body">
		<div>
			<div class="wrapper">
				<div class="lhs"><span class="name" translate="sellers.Name"></span></div>
				<div class="rhs"><input types="text" ng-model="seller.name"/></div>
				<div class="uti"></div>
			</div>
		</div>
		<div>
			<div class="wrapper">
				<div class="lhs"><span class="category" translate="sellers.Category"></span></div>
				<div class="rhs"><input types="text" ng-model="seller.category"/></div>
				<div class="uti"></div>
			</div>
		</div>
		<div>
			<div class="wrapper">
				<div class="lhs"><span class="image" translate="sellers.Image"></span></div>
				<div class="rhs"><input types="text" ng-model="seller.imagePath"/></div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="onOk()">
			<span translate="sellers.Ok"></span>
		</button>
		<button class="btn btn-primary" ng-click="onCancel()">
			<span translate="sellers.Cancel"></span>
		</button>
	</div>

</div>